

.header {
	background-color: #c20a00 ;
    width: 100%;
    height: 65px;
   
}


.home {
	float: left;
	width: 50%;
	height: 20px;

}

.account {
	float: left;
	width: 50%;
	height: 20px;

}

.home div{
	padding-left: 11%;
	padding-top: 20px;
}

.account div{
	padding-left: 80%;
	padding-top: 20px;
}

.header a {
	color: white;
}




